# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
var/
.env
*.db

# Node.js
node_modules/
dist/
dist-ssr/
*.local
out/
.eslintcache

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
